form
  overflow: hidden

form#mturk_form p
  padding-bottom: 10px

input[type=text]
  border: 1px solid #ddd
  padding: 5px
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

form#adjudication_form
  overflow: auto

input[type=radio]
  display: inline
  margin: 5px 5px 10px 0px

.answertext
  display: inline
  margin-right: 10px

.almostblack_text
  color: #444

.black_text_12_bold
  font-size: 12px
  color: black
  font-weight: bold

.blue_text_12
  font-size: 12px
  color: #307bba
  font-weight: bold

.gray_text_10
  font-size: 10px
  color: #9e9e9e

.gray_text_12
  font-size: 12px
  color: #9e9e9e

.orange_text_12
  font-size: 12px
  color: #ff7e00

.orange_text_12_bold
  font-size: 12px
  color: #ff7e00
  font-weight: bold

.orange_text_14
  font-size: 14px
  color: #ff7e00

.orange_text_14_bold
  font-size: 14px
  color: #ff7e00
  font-weight: bold

.orange_text_16_bold
  font-size: 16px
  color: #ff7e00
  font-weight: bold

.red_text_12
  font-size: 12px
  color: #FF0000
  font-weight: bold

.white_text_14_bold
  font-size: 14px
  color: #fff
  font-weight: bold

.broken
  background: #eac
  border: thin solid #eac

.broken:hover
  background: red
  border: thin solid red

.image_align_top
  border: 0
  vertical-align: top

.image_align_bottom
  border: 0
  vertical-align: bottom

.image_align_middle
  border: 0
  vertical-align: middle

.opaque
  filter: alpha(opacity=30)
  -moz-opacity: .30
  opacity: .30

.capsule_field_text
  font-size: 11px
  color: black
  white-space: nowrap

.capsule_field_title
  font-size: 11px
  font-weight: bold
  color: #336699
  white-space: nowrap

.capsule_corner
  width: 11px
  height: 11px
  background-repeat: no-repeat

.capsule_corner_left
  float: left
  background-image: url(../images/top_left_corner.gif)

.capsule_corner_right
  float: right
  background-image: url(../images/top_right_corner.gif)

.capsule_footer
  height: 9px
  border-bottom: 1px #336699 solid
  background-color: #f0f6f9
  font-size: 7px
  margin: 0 11px 0 11px

.capsule_footer_right
  float: right
  background-image: url(../images/bottom_right_corner.gif)
  margin-top: -10px

.capsule_footer_left
  float: left
  background-image: url(../images/bottom_left_corner.gif)
  margin-top: -10px

.capsule_heading_left
  text-align: left
  font-size: 11px
  border-top: 1px #336699 solid
  border-right: 1px #336699 solid
  border-left: 1px #336699 solid
  background-color: #ccdde9

.capsule_box
  background-color: #f0f6f9
  border-right: 1px #336699 solid
  border-left: 1px #336699 solid

.message
  margin: 10px 20px 10px 20px
  padding: 10px 10px 10px 30px
  color: #282828
  font-size: 13px
  line-height: 14px

.message h6
  font-size: 13px
  margin: 0 0 5px -22px
  padding: 0 0 0 22px

.message p
  margin: 0 0 5px 0
  padding: 0

.success
  color: #666600
  border: 2px #66cc33 solid
  background-color: #ffffdd

.success h6
  background: url(../images/icon_accept.gif) no-repeat center left

.warning
  border: 2px #ffcc66 solid
  background-color: #ffffdd

.warning h6
  background: url(../images/icon_alert.gif) no-repeat center left

.error
  color: #d50927
  border: 2px #d50927 solid
  background-color: #fff0f1

.error h6
  background: url(../images/icon_alert.gif) no-repeat center left

.outage_message
  border: 2px solid #ffcc66
  background-color: #ffffdd
  margin: 10px 20px 10px 20px
  padding: 10px
  text-align: center

.outage_message h2
  color: #000000
  font-size: 17px
  font-weight: bold

.outage_message h3.outage
  font-weight: bold
  color: #4d4d4d
  font-size: 12px

.tooltip
  text-align: left
  font-weight: bold
  margin: 0
  display: block
  padding: 5px
  border: 1px solid #000
  background: #ffffcc

.sandbox_banner
  background-color: #dd6e00
  width: auto
  padding-top: 15px
  padding-bottom: 15px
  border-bottom: 2px #a15037 solid
  font-size: 12px
  color: white
  text-align: center
  margin-bottom: 10px
  margin-top: -5px
  margin-left: -5px
  margin-right: -5px

.sandbox_banner a:link
  color: white

.sandbox_banner a:visited
  color: white

.sandbox_banner a:hover
  color: white

.sandbox_banner a:active
  color: white

#page_body

#page_content

.subnav
  color: black

.current
  font-weight: bold
  text-decoration: none

.table_corner
  width: 10px
  height: 25px
  background-repeat: no-repeat

.table_corner_left
  float: left
  background-image: url(../images/left_corner_blue.gif)

.table_corner_right
  float: right
  background-image: url(../images/right_corner_blue.gif)

.table_heading_middle
  text-align: center
  font-size: 14px
  color: #ffffff
  font-weight: bold
  background-color: #a1cde2
  padding-top: 7px
  padding-bottom: 7px

.table_heading_middle a
  color: #ffffff
  text-decoration: none

.table_heading_left
  float: left
  padding-left: 1em

.table_heading_right
  min-width: 20%
  text-align: left
  float: right
  padding-right: 1em

.table_seperator
  border-bottom: 1px #a1cde2 solid
  padding: 6px

.table_box
  border-top: 1px #a1cde2 solid
  border-right: 1px #a1cde2 solid
  border-bottom: 10px #a1cde2 solid
  border-left: 1px #a1cde2 solid

.table_box table
  margin: 0
  width: 100%

.table_box th
  color: #ff7e00
  text-align: center
  padding: 7px
  background-color: #f7f7f7
  border-top: 1px #a1cde2 solid
  border-bottom: 1px #a1cde2 solid
  border-left: 1px #cccccc solid
  vertical-align: middle

.table_box td
  border-bottom: 1px #cccccc solid
  border-left: 1px #cccccc solid
  padding: 5px
  vertical-align: middle

.table_box .no_border_left
  border-left: 0

.table_box .no_border
  border: 0

.table_box .no_table_borders tr td
  border: 0

.table_box iframe
  border: 1px black solid
  margin: 30px 15px 15px 15px
  width: 97%

.table_box div.box_label
  text-align: center
  border: 1px gray solid
  padding-top: 10px
  padding-bottom: 10px

.table_row_mouseover
  background-color: #f7f7f7

.column_header
  color: #ff7e00
  text-align: center

.sortable_column_header
  color: #ff7e00
  text-align: center
  text-decoration: underline

a.sortable_column_header:hover
  color: #fd9d40

td.property
  font-weight: bold
  font-size: 12px
  width: 1%
  padding-right: 8px
  white-space: nowrap

.no_wrap
  white-space: nowrap

.text_align_center
  text-align: center

.text_align_right
  text-align: right

.clear_both
  clear: both

.no_border
  border: 0

.preformatted
  white-space: pre-line

.new_template
  color: green
  background-color: #ffffdd

table.cost_summary td
  border-bottom: 0
  border-left: 0
  padding-left: 10px
  padding-right: 10px

table.cost_summary td.underline
  border-bottom: 1px black solid

table.cost_summary td.bold
  font-weight: bold

table.cost_summary td.prop_title
  width: 30%
  font-size: 12px
  color: #307bba
  font-weight: bold

table.cost_summary td.numeric
  text-align: right
  width: 1%

table.cost_summary td.pad
  text-align: left
  width: 50%

table div.gray_background
  background-color: #f5f5f5
  padding: .4em
  margin-top: .4em
  border-top: 1px #cccccc solid
  border-bottom: 1px #cccccc solid

.upload_box
  padding-top: 1em
  padding-bottom: 1em

#csv_info pre,ol,.note
  padding: 1em

.preview_navbar
  text-align: center
  padding-top: 1em

.preview_navbar .padded
  min-width: 6em
  display: inline-block
  padding-left: 1em
  padding-right: 1em

.preview_navbar .padded_mid
  vertical-align: middle

.gray_box
  border-top: 1px #cccccc solid
  border-right: 1px #cccccc solid
  border-bottom: 1px #cccccc solid
  border-left: 1px #cccccc solid
  margin-bottom: 30px

.gray_header
  background-color: #cccccc
  text-align: left
  font-size: 14px
  font-weight: bold
  color: white
  padding: 7px

.inset_box
  padding-top: 7px
  padding-bottom: 7px
  padding-left: 7px
  padding-right: 7px

.white_link
  text-align: right
  font-size: 12px
  color: white
  background-color: #cccccc
  font-weight: normal
  text-decoration: underline

.small_green
  font-size: 10px
  color: green
  font-weight: normal

.small_red
  font-size: 10px
  color: red
  font-weight: normal

.small_blue
  font-size: 12px
  color: #307bba
  font-weight: normal

.results_table_corner_left
  float: left
  background-image: url(../images/left_corner_blue.gif)
  height: 25px

.results_table_corner_right
  float: right
  background-image: url(../images/right_corner_blue.gif)
  height: 25px

.results_table_middle
  background-color: #a1cde2

.results_adjudication_button
  float: left
  padding-left: 9px
  padding-top: 4px

.results_table_box
  border: 1px #a1cde2 solid

#results_table
  border: 1px gray solid
  width: 100%

#results_table th
  background-color: white
  border-bottom: 1px gray solid
  border-top: 1px gray solid
  border-left: 1px #cccccc solid
  padding: 3px

#results_table td
  border-left: 1px #cccccc solid
  border-bottom: 1px #cccccc solid

.overflow_box
  overflow-x: auto
  width: 100%

.hit_design_table
  background-color: #ffffff
  margin: 5px

.hit_design_table th
  text-align: left
  padding: 5px 5px 5px 10px
  font-weight: bold
  background-color: #c0c0c0

.hit_design_table td
  padding: 10px

.hit_design_table table
  position: relative
  padding: 3px 2px 3px 2px
  background-color: #ffffff

.hit_design_table td.property
  font-weight: bold
  font-size: 12px
  width: 1%
  vertical-align: top
  padding-right: 8px
  white-space: nowrap
  padding-top: 4px

.hit_properties
  background-color: #e0e0e0

.tab_button
  background-color: #e0e0e0
  border: none
  font-weight: bold
  padding: .5em 1em .5em 1em
  cursor: pointer
  float: left
  margin-right: .5em

.tab_button_hidden
  font-weight: bold
  background-color: #c0c0c0
  color: #ffffff
  padding: .5em 1em .5em 1em
  border: none
  cursor: pointer
  float: left
  margin-right: .5em

#preview_link
  font-size: 12px
  font-weight: bold
  cursor: pointer
  color: #ffffff
  border: 0
  margin-bottom: -1px
  text-decoration: none

#worker_details
  background-color: #ECF3F9
  margin: 0 0 20px

#worker_details_header
  background-color: #BCD3E5
  color: black
  font-size: 13px
  font-weight: bold
  padding: 7px

#worker_details_body
  margin: 5px 0 15px 0
  width: 100%

#worker_detail_values
  padding-right: 30px

#worker_detail_values ul
  list-style: none
  margin: 0
  padding-left: 20px

#worker_detail_values ul li
  border-bottom: 1px dotted #000
  float: left
  margin: 10px 0
  width: 100%

#worker_detail_values li.sublist
  border-bottom: none

#worker_details_body .worker_detail_title
  background-color: #ECF3F9
  float: left
  font-weight: bold
  margin: 0
  padding: 0 5px 0 0
  position: relative
  top: 3px

#worker_detail_values li.sublist .worker_detail_title
  font-weight: normal

#worker_details_body .worker_detail_value
  background-color: #ECF3F9
  float: right
  padding: 0 0 0 5px
  position: relative
  text-align: right
  top: 3px

#worker_actions
  margin-top: 15px
  padding: 0
  text-align: center
  vertical-align: middle

#worker_actions_box
  border-left: 1px solid #bcd3e5
  height: 100px
  margin: auto
  padding: 3px 60px
  text-align: center

#worker_actions #bonus_worker_button
  display: block
  margin-bottom: 7px

#worker_qualifications_section

#worker_qualifications_section #worker_details_qual_heading
  float: left

#worker_qualifications_section #assign_qual_type_button
  float: right
  margin: 8px 0

#worker_qualifications_section table
  width: 100%
  margin: 0
  padding: 0

#assign_quals_popup .assign_qual_score
  margin-left: 25px

#assign_quals #unassigned_quals
  height: 125px
  overflow: scroll

div.dragdropSection
  border: 1px solid silver
  width: 200px
  height: 300px
  overflow-y: auto

div.dragdropItem
  padding: 2px 8px
  cursor: move

div.dragdropItemHover
  padding: 2px 8px
  cursor: move
  background-color: #ccc

div.dragdropSectionTitle
  font-weight: bold
  padding-top: 3px
  white-space: nowrap

div.popup
  position: absolute
  top: 3px
  left: 10px
  width: 96%
  text-align: right

div.popup span
  background-image: url(../images/close_x.gif)
  background-repeat: no-repeat
  background-position: right
  width: 65px
  height: 22px
  float: right
  display: block
  margin-right: 3px

img.popup
  border: 2px solid #ccc

div.confirm_box
  position: absolute
  border: 1px #006699 solid
  padding: 15px
  background-color: #ECF4FA
  color: black
  font-weight: normal
  text-align: left
  white-space: nowrap

.button_row
  overflow: auto
  margin: 1em 0

.button_row div
  display: inline
  margin: 1em

.button_row .cancel_button
  margin: 1em

.button_row .edit_button
  float: right

.button_row .create_button
  float: right

.button_row .create_button input
  background-color: #fa4
  border: thin solid
  font-weight: bold
  padding: 0.5em

.button_row .create_button a
  background-color: #fa4
  border: thin solid
  font-weight: bold
  padding: 0.5em
  text-decoration: none
  color: black

.button_row .edit_button a
  background-color: #fa4
  border: thin solid
  font-weight: bold
  padding: 0.5em
  text-decoration: none
  color: black

.button_row .create_button input:hover
  background-color: #e82

.button_row .create_button a:hover
  background-color: #e82

.button_row .edit_button a:hover
  background-color: #e82

.button_row .create_link
  float: right
  color: blue
  font-weight: bold
  padding: 0.5em

div.progress_base
  width: 100%
  height: 20px
  border: 1px solid #999
  background-color: #ede

div.progress_loaded
  height: 20px
  border: 1px solid #999
  margin-top: -22px
  background-color: #ff9

div.progress_failures
  height: 20px
  border: 1px solid #999
  margin-top: -22px
  background-color: #f00

div.progress_completed
  height: 20px
  border: 1px solid #999
  margin-top: -22px
  background-color: #3f0

.progress_reload
  height: 20px
  margin-top: -22px
  padding-top: 3px
  margin-left: 4px

.batch_name
  font-size: 16px
  font-weight: bold
  border-bottom: 1px black solid
  padding-top: .5em
  margin: .5em
  margin-bottom: 1em

.hit_template_name
  font-size: 16px
  font-weight: bold
  border-bottom: 1px black solid
  padding-top: .5em
  margin: .5em
  margin-bottom: 1em

.page_headline
  float: left
  line-height: 2em

#paper_trail
  margin-top: .5em

#paper_trail img
  padding-left: 10px
  padding-right: 3px
  border: 0

#paper_trail .entry
  float: left

#paper_trail .text
  float: left
  padding-top: .20em

#add_qualification_requirement
  margin: 10px 5px

#add_qualification_requirement a
  float: left
  margin: 0 10px 5px 0

#add_qualification_requirement img
  border-style: none

#qualification_requirements .and
  margin: 5px 0 5px 10px

#multiple_qual_warning
  font-style: italic
  margin-top: 10px

.empty_table_message
  background-color: #fdffd1
  border: 1px solid #d7d4b2
  margin: 10px auto
  padding: 20px
  width: 96%

#breadcrumbs
  display: block
  margin: 12px 0
  padding: 0

.breadcrumbs_current
  font-weight: bold

.abbreviation
  border-bottom: 1px dotted #858887
  cursor: help

.popup_content
  display: none

.popup_content .popup_main
  border-bottom: 1px solid #c3c2c3
  margin-bottom: 15px
  padding-bottom: 10px

.popup_content .popup_main .popup_list
  height: 150px
  overflow: auto

.popup_content .popup_main .checkbox_label
  font-weight: normal

.popup_content .advisory_message
  background-color: #fdffd1
  border: 1px solid #d7d4b2
  font-weight: bold
  margin: 10px auto
  padding: 20px
  width: 85%

.popup_content .popup_error_message
  color: #f00
  font-size: 12px
  font-weight: bold

.popup_content .popup_buttons
  margin: auto
  text-align: center

.popup_content .popup_buttons .popup_cancel
  bottom: 7px
  font-size: 13px
  position: relative

.popup_content label
  font-weight: bold

.popup_content textarea
  height: 85px
  width: 420px

.popup_content input[type="text"]
  height: 16px
  width: 85px

.popup_content input#assignment_id[type="text"]
  width: 275px

.form_section
  margin: 10px 0

label.disabled
  color: gray

#filters
  float: left
  margin: 15px 5px 5px

#filters label
  display: inline
  font-weight: bold

#filters .filter-link
  margin: 0 10px

.disclaimer
  font-style: italic

.sort-indicator
  margin-left: 5px

.ap_underline
  color: blue
  text-decoration: underline

.ap_popover_sprited .ap_body .ap_left,
.ap_popover_sprited .ap_body .ap_right
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-v._V219326283_.png)

.ap_popover_sprited .ap_header .ap_left,
.ap_popover_sprited .ap_header .ap_right,
.ap_popover_sprited .ap_header .ap_middle,
.ap_popover_sprited .ap_footer .ap_left,
.ap_popover_sprited .ap_footer .ap_right,
.ap_popover_sprited .ap_footer .ap_middle,
.ap_popover_sprited .ap_closebutton
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-h._V219326280_.png)

.ap_popover_sprited .ap_body .ap_right-arrow, .ap_popover_sprited .ap_body .ap_left-arrow
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-arrow-v._V219326286_.png)

.ap_popover .ap_titlebar
  position: absolute
  left: 0
  right: 0

.flash
  text-align: center
  padding: 1em
  margin: 10px 20px 10px 20px
  width: auto
  font-weight: bold
  background-color: #fc6

.tab_box
  margin: 0 40% 0 10%
  overflow: auto

.tab
  padding: 0.3em
  margin: 0.3em
  float: left
  border: thin solid
  background-color: #e82

.tab:hover
  background-color: #fa4

.inactive_tab
  padding: 0.3em
  margin: 0.3em
  float: left
  font-weight: bold
  border: thin solid
  background-color: #e82

.inactive_tab:hover
  background-color: #fa4

.pane
  padding: 2em
  margin: 0
  display: block
  height: 100%
  overflow: auto

.inactive_pane
  display: none

input.numeric_with_unit
  text-align: center

ul.blocklist
  overflow: auto
  padding: 0.2em

li.assignment
  border: thin dashed green
  float: left
  margin: .4em
  list-style-type: none

li.assignment div
  padding: .5em

li.assignment div.pending
  background-color: #eee

li.assignment div.returned
  background-color: #eee

li.assignment div.abandoned
  background-color: #eee

li.assignment div.submitted
  background-color: #eea

li.assignment div.approved
  background-color: #aea

li.assignment div.rejected
  background-color: #eaa

li.assignment div.approvedbulk
  background-color: #dfd

li.assignment div div.status
  text-align: center

.toggle_header
  margin: 1em 0

.toggle_header .toggle_icon
  margin: 0 0.5em

.help
  color: #333
  padding-bottom: 10px

.help_small
  font-size: 10px
  color: #666

.vertical_space
  margin-top: 2em
  margin-bottom: 2em

.top_space
  margin-top: 2em

.bottom_space
  margin-bottom: 2em

.errorExplanation
  color: Red

#errorExplanation
  margin-top: 15px
  margin-bottom: 20px

#errorExplanation h2
  font-size: 16px
  margin: 0
  color: Red

