body, input, select, td, li, div, textarea, p
  font-size: 11px
  line-height: 14px
  font-family: verdana, arial, sans-serif

body, input, select
  color: black

body
  margin: 5px
  background-color: white

form
  margin: 0px

h1
  font-size: 16px
  font-weight: bold

h2
  font-size: 14px
  font-weight: bold

h4
  font-size: 11px

.capsule_black_text
  FONT-SIZE: 11px
  COLOR: #000000
  font-family: verdana, arial, sans-serif

.blue_text
  FONT-SIZE: 11px
  COLOR: #336699
  font-family: verdana, arial, sans-serif

.blue_text_bold
  FONT-SIZE: 11px
  COLOR: #336699
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold

.blue_text_12
  FONT-SIZE: 12px
  COLOR: #336699
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold

a.blue_text_12:link,a.blue_text_12:hover,a.blue_text_12:visited,a.blue_text_12:active
  FONT-SIZE: 12px
  COLOR: #336699
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold
  text-decoration: underline

.blue_text_14
  FONT-SIZE: 14px
  LINE-HEIGHT: normal
  COLOR: #1170A0
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold

td.blue_text_14
  FONT-SIZE: 14px
  LINE-HEIGHT: normal
  COLOR: #1170A0
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold

.black_text
  FONT-SIZE: 11px
  COLOR: #000000
  font-family: verdana, arial, sans-serif

.black_text.A
  FONT-SIZE: 11px
  font-family: verdana, arial, sans-serif
  TEXT-DECORATION: none
  COLOR: #336699

.black_text.A:hover
  FONT-SIZE: 11px
  font-family: verdana, arial, sans-serif
  TEXT-DECORATION: underline
  COLOR: #336699

.title_orange_text
  FONT-SIZE: 14px
  COLOR: #c60
  font-family: verdana, arial, sans-serif

.orange_text
  FONT-SIZE: 11px
  COLOR: #c60
  font-family: verdana, arial, sans-serif

.orange_text_right
  FONT-SIZE: 11px
  COLOR: #c60
  font-family: verdana, arial, sans-serif
  float: right

.title_orange_text_bold
  FONT-SIZE: 14px
  COLOR: #c60
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold

.white_text
  FONT-SIZE: 11px
  COLOR: #FFFFFF
  font-family: verdana, arial, sans-serif
  font-weight: normal

.white_text_14_bold
  FONT-SIZE: 14px
  COLOR: #FFFFFF
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold

.almostblack_text
  COLOR: #4D4D4D
  font-family: verdana, arial, sans-serif

.almostblack_text_big_bold
  font-size: 14px
  COLOR: #4D4D4D
  font-family: verdana, arial, sans-serif
  font-weight: bold

A.nonboldsubnavclass:link,A.nonboldsubnavclass:visited, A.nonboldsubnavclass:active
  FONT-SIZE: 11px
  font-family: verdana, arial, sans-serif
  TEXT-DECORATION: none
  COLOR: #4D4D4D

A.nonboldsubnavclass:hover
  FONT-SIZE: 11px
  font-family: verdana, arial, sans-serif
  TEXT-DECORATION: underline
  COLOR: #4D4D4D

A.subnavclass:link,A.subnavclass:visited, A.subnavclass:active
  FONT-SIZE: 11px
  FONT-WEIGHT: bold
  font-family: verdana, arial, sans-serif
  TEXT-DECORATION: none
  COLOR: #4D4D4D

A.subnavclass:hover
  FONT-SIZE: 11px
  FONT-WEIGHT: bold
  font-family: verdana, arial, sans-serif
  TEXT-DECORATION: underline
  COLOR: #4D4D4D

A.capsulelink_bold
  FONT-SIZE: 13px
  FONT-WEIGHT: BOLD
  font-family: verdana, arial, sans-serif
  COLOR: #000000
  TEXT-DECORATION: underline

A.capsulelink_bold:hover
  FONT-SIZE: 13px
  FONT-WEIGHT: BOLD
  font-family: verdana, arial, sans-serif
  COLOR: #000000
  TEXT-DECORATION: underline

A.capsulelink
  FONT-SIZE: 11px
  font-family: verdana, arial, sans-serif
  COLOR: #000000
  TEXT-DECORATION: underline

A.capsulelink:hover
  font-family: verdana, arial, sans-serif
  COLOR: #000000
  TEXT-DECORATION: underline

a.black_bold_link:link,a.black_bold_link:hover,a.black_bold_link:visited,a.black_bold_link:active
  FONT-SIZE: 11px
  COLOR: #000000
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold
  text-decoration: underline

A.help_links
  FONT-SIZE: 10px
  font-family: verdana, arial, sans-serif
  COLOR: #336699

A.help_links:link, A.help_links:visited, A.help_links:active
  TEXT-DECORATION: none

A.help_links:hover
  TEXT-DECORATION: underline

UL.list
  PADDING-RIGHT: 0px
  PADDING-LEFT: 0px
  PADDING-BOTTOM: 0px
  MARGIN: 0px 0px 0px -34px
  PADDING-TOP: 0px

.grayHead
  BORDER-RIGHT: #ffffff 1px solid
  PADDING-RIGHT: 2px
  BORDER-TOP: #ffffff 1px solid
  PADDING-LEFT: 4px
  PADDING-BOTTOM: 2px
  FONT: bold 12px arial, sans-serif
  BORDER-LEFT: #ffffff 1px solid
  COLOR: #336699
  PADDING-TOP: 2px
  BORDER-BOTTOM: #ffffff 1px solid
  BACKGROUND-COLOR: #cccccc

.plainbox
  BORDER: 1px solid #000000
  COLOR: #000000
  padding: 6px 12px
  margin: 1px 10px

.plainbox font.header
  FONT-WEIGHT: bold

.alertbox_aligned
  padding: 6px 12px
  margin: 10px 20px 0 10px

.message
  margin: 10px 20px 10px 20px
  padding: 10px 10px 10px 30px
  color: #282828
  font-size: 13px
  line-height: 14px

.message h6
  font-size: 13px
  margin: 0 0 5px -22px
  padding: 0 0 0 22px

.message p
  margin: 0 0 5px 0
  padding: 0

.success
  color: #666600
  border: 2px solid #66CC33
  background-color: #FFFFDD

.success h6
  background: url(/images/icon_accept.gif) no-repeat center left

.warning
  border: 2px solid #FFCC66
  background-color: #FFFFDD

.warning h6
  background: url(/images/icon_alert.gif) no-repeat center left

.error
  color: #D50927
  border: 2px solid #D50927
  background-color: #FFF0F1

.error h6
  background: url(/images/icon_alert.gif) no-repeat center left

span.test
  margin-top: 50px
  clear: left
  color: red
  padding-top: 5

span.looksLikeText
  FONT-SIZE: 11px
  font-family: verdana, arial, sans-serif
  COLOR: #336699

span.looksLikeText input
  TEXT-DECORATION: underline
  BACKGROUND-COLOR: transparent
  COLOR: #336699
  BORDER: none
  PADDING: 0px
  MARGIN: 0px
  CURSOR: pointer
  width: auto
  overflow: visible

.capsule_field_text
  color: black
  font-family: verdana, arial, sans-serif

.capsule_field_title
  font-size: 11px
  font-weight: bold
  color: #336699

.error_title
  font-size: 22px
  line-height: normal
  color: #1170A0
  font-family: verdana, arial, sans-serif
  font-weight: bold

.interst_text
  font-size: 21px
  line-height: normal
  color: #1170A0
  font-family: verdana, arial, sans-serif
  font-weight: bold

.black_text_12
  FONT-SIZE: 12px
  COLOR: #000000
  font-family: verdana, arial, sans-serif

p.warning
  color: red

font.timezone
  font-size: 9px

.blue_text_bold
  font-size: 11px
  line-height: 14px
  color: #336699
  font-family: verdana, arial, sans-serif
  font-weight: bold

.capsule_field_title, .capsule_field_text
  font-size: 11px
  font-family: verdana, arial, sans-serif

.capsule_field_title
  font-weight: bold
  color: #336699

.capsule_field_text
  color: #000000

.welcome_message
  color: #1170A0
  font-size: 12px
  font-family: verdana, arial, sans-serif
  font-weight: bold
  line-height: 2em
  padding-left: 10px
  padding-top: 5px
  padding-bottom: 10px

.welcome_message
  color: #000000
  font-size: 12px
  font-family: verdana, arial, sans-serif
  font-weight: bold
  line-height: 1em

.welcome_message h1
  color: #1170A0
  font-size: 18px
  font-family: verdana, arial, sans-serif
  font-weight: bold
  line-height: 1em

.welcome_message h2
  color: #000000
  font-size: 17px
  font-family: verdana, arial, sans-serif
  font-weight: bold
  line-height: 2.5em

.welcome_message h3
  color: #000000
  font-size: 12px
  font-family: verdana, arial, sans-serif
  font-weight: bold
  line-height: .2em

.welcome_message  a:link,.welcome_message a:active,.welcome_message  a:hover,.welcome_message  a:visited
  color: #7FB4CF
  text-decoration: underline
  font-size: 12px

.welcome_column
  background: #f0f6f9
  width: 30%
  top: 0px

.welcome_column table
  top: 0px
  width: 100%

.paragraph_container
  margin: 1px
  padding-left: 10px
  width: 95%
  padding-right: 1px
  padding-bottom: 5px

.paragraph_container h3
  color: #336699
  font-size: 11px
  font-family: verdana, arial, sans-serif
  font-weight: bold
  margin-bottom: 0px
  padding-bottom: 0px

.get_started_now_btn
  position: relative
  top: 0px
  padding-right: 10px
  width: 163px
  float: right

.greyBox
  padding: 5px 10px
  border-style: solid
  border-width: 1px
  border-color: #cccccc
  background-image: url(/images/hp_vertical_spacer.gif)
  background-repeat: repeat-x
  background-color: #f0f6f9

.outage_message
  border: 2px solid #FFCC66
  background-color: #FFFFDD
  margin: 10px 20px 10px 20px
  padding: 10px 10px 10px 10px
  text-align: center

.outage_message h2
  color: #000000
  font-size: 17px
  font-family: verdana, arial, sans-serif
  font-weight: bold

.outage_message h3.outage
  font-weight: bold
  color: #4D4D4D
  font-size: 12px
  font-family: verdana, arial, sans-serif

#requester_frontpage_box p, #requester_frontpage_box ol, #requester_frontpage_box ol li
  color: #1170A0
  font-size: 12px
  font-weight: bold
  line-height: normal
  font-family: verdana, arial, sans-serif

#requester_frontpage_box ol li
  font-size: 12px
  margin: 1.5em 0em

#requester_frontpage_box a
  font-size: 12px
  color: #4D4D4D

#requester_frontpage_box .smaller, #requester_frontpage_box .smaller a
  font-size: 12px

div.IKnowYou
  FONT-SIZE: 14px
  COLOR: #c60
  font-family: verdana, arial, sans-serif
  FONT-WEIGHT: bold
  position: relative
  margin-top: 10px
  margin-bottom: 10px

div.IKnowYou .changeUser
  font-size: 10px
  font-weight: normal
  color: #1170A0
  white-space: nowrap

ul.star_list
  font-size: 10px
  color: black
  list-style-position: inside
  list-style-type: circle
  margin-top: 5px
  margin-bottom: 15px
  position: relative
  left: 15px
  width: 90%

ul.star_list a
  font-size: 11px
  color: black
  text-decoration: underline

.tooltip
  text-align: left
  font-family: verdana, arial, sans-serif
  font-weight: bold
  padding: 5px
  margin: 0
  display: block
  border: 1px solid #000
  background: #ffffcc

